@media(max-width: 1268px){
    .container{
        width: 1068px;
    }
    .header-title{
        width: 1068px;
    }
    input:focus{
        width: 150px;
    }
    .header-img{
        width: 508px;
    }
    .body-img{
        width: 508px;
        height: 700px
    }
    .header-aside{
        width: 500px;
    }
    .header-body{
        width: 480px;
        font-size: 56px;
    }
    .header-p{
        width: 453px;
        font-size: 16px;
    }
    .header-section-body-l,
    .header-section-body-r{
        width: 280px;
    }
    .header-section-body-l > h4,
    .header-section-body-r > h4{
        width: 185px;
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .vector-al, .vector-al-r{
        font-size: 17px;
    }
    /* end header */

    .service-card{
        width: 246px;
    }
    .card-title{
        width: 226px;
        font-size: 17px;
    }
    .card-container{
        width: 226px;
        font-size: 12px;
    }
    /* end service */

    .plants-container{
        width: 197px;
    }
    /* end plants */

    .section-side{
        width: 520px;
    }
    .side-header{
        width: 500px;
    }
    .side-container img{
        width: 520px;
    }
    .section-aside img{
        width: 475px;
    }
    /* end section */
    .picture-side{
        width: 543px;
    }
}
@media(max-width: 1100px) {
    .container{
        width: 968px;
    }
    .service-card{
        width: 226px;
    }
    .card-title{
        width: 206px;
        font-size: 17px;
    }
    .card-container{
        width: 206px;
        font-size: 12px;
    }
     /* end service */

     .plants-container{
        width: 177px;
    }
    /* end plants */

    .section-side{
        width: 500px;
    }
    .side-header{
        width: 480px;
    }
    .side-title{
        font-size: 36px;
    }
    .side-content{
        font-size: 14px;
    }
    .side-container img{
        width: 500px;
    }
    .section-aside img{
        width: 455px;
    }
    /* end section */
    .picture-side{
        width: 523px;
    }
    .picture-title{
        font-size: 32px;
    }
    .picture-aside img{
        width: 400px;
    }
    /* end picture */
    .footer-list{
        width: 90%;
    }
}
@media(max-width: 1000px){
    .container{
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .header-title{
        width: 81.3%;
       margin-left: 100px;
        
    }
    input:focus{
        display: none;
    }
    .header-img{
        width: 458px;
    }
    .body-img{
        width: 458px;
        height: 700px
    }
    .header-aside{
        width: 450px;
    }
    .header-body{
        width: 430px;
        font-size: 56px;
    }
    .header-p{
        width: 403px;
        font-size: 16px;
    }
    .header-section{
       transform: translateY(-35px);
    }
    .header-section-body-l,
    .header-section-body-r{
        transform: translateX(10px);
    }
    .service-card{
        width: 206px;
    }
    .card-title{
        width: 186px;
        font-size: 17px;
    }
    .card-container{
        width: 186px;
        font-size: 12px;
    }
     /* end service */

     .plants-container{
        width: 157px;
    }
    .img-1 img{
        width: 157px;
    }
     /* end plants */

     .section-side{
        width: 445px;
    }
    .side-header{
        width: 435px;
    }
    .side-title{
        font-size: 32px;
    }
    .side-content{
        font-size: 13px;
    }
    .side-container img{
        width: 400px;
        margin-top: -50px;
    }
    .section-aside img{
        width: 400px;
    }
    /* end section */
    .picture-side{
        width: 483px;
    }
    .picture-title{
        font-size: 30px;
    }
    .picture-aside img{
        width: 350px;
    }
    /* end picture */
    .footer-list{
        width: 90%;
    }
}
@media(max-width: 900px){
    
    .container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .header-title{
        top: 10px;
        justify-content: center;
        align-items: center;
    }
    .divid{
        display: flex;
        flex-direction: column;
    }
    .header-img{
        position: absolute;
        top: 60px;
        width: 608px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    .body-img{
       width: 608px;
       height: 740px; 
    }
    .header-aside{
        width: 700px;
       margin-top: -100px;
       margin-left: auto;
       margin-right: auto;
    }
    .header-body{
        width: 600px;
        text-align: center;
        transform: translateX(0);
        margin-left: 50px;
    }
    .header-p{
        width: 600px;
        text-align: center;
        transform: translateX(0);
        margin-left: 50px;
    }
    .header-section{
        width: 560px;
        margin-left: auto;
        margin-right: auto;
    }
    /* end header */
    .service-list{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .service-card{
        width: 340px;
        margin-bottom: 30px;
    }
    .card-title{
        width: 316px;
    }
    .card-container{
        width: 316px;
    }
     /* end service */
    .plants-header{
        width: 91%;
        margin-left: auto;
        margin-right: auto;
    }
    .plants-plant{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .plants-container{
        width: 220px;
        margin-bottom: 50px;
    }
    .img-1 img{
        width: 220px;
    }
    /* end plants */
    .section-list{
        flex-direction: column;
    }
    .section-side{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .side-header{
        width: 660px;
        text-align: center;
    }
    .side-container{
        width: 660px;
        margin-left: auto;
        margin-right: auto;
    }
    .side-container img{
        width: 660px;
    }
    .section-aside{
        width: 550px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .section-aside img{
        width: 550px;
    }
    /* end side */
    .picture-list{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .picture-side{
        width: 400px;
    }
    .picture-side h2{
        width: 132px;
        height: 35px;
        line-height: 16px;
        margin-top: 10px;  
    }
    .picture-title{
        width: 400px;
        font-size: 26px;
        line-height: 36px;
    }
    .picture-aside{
        width: 250px;
    }
    .picture-aside img{
        width: 250px;
    }
    /* end pictures */
    .footer-list{
        width: 80%;
        flex-wrap: wrap;
    }
    .footer-aside{
        margin-top: 50px;
    }
}
@media(max-width: 800px){
    .service-list{
        justify-content: space-evenly;
    }
    .plants-plant{
        justify-content: space-evenly;
    }
}